<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper grey darken-4">
            <a href="/" class="brand-logo center newScrape">WebScrape</a>
            <ul class="right">
                <li>
                    <a href="/notes"><strong>Notes</strong></a>
                </li>
            </ul>
            
        </div>

    </nav>
</div>


<div id="articles" class="container indigo lighten-5">
    <div class="row">
        {{#each Article}}
        <div class="col s12 m6 l4">

            <div class="card large hoverable">
                <div class="card-image">
                    <img srcset="{{this.img}}" />
                    <span class="card-title title-wrap" data-id={{this.id}}>{{this.title}}</span>
                </div>

                <div class="card-content">
                    <a href="{{this.link}}" target="_blank">Read Full Article</a>
                    <p class="trunc">{{this.summary}}</p>
                    <button class="btn activator blue-grey darken-2" data-id={{this.id}}>Comment</button>
                </div>

                <div class="card-reveal" >
                    <span class="card-title grey-text text-darken-4">Comment<i class="material-icons right">close</i></span>
                    <div class="" data-id="{{this.id}}">
                        <form class="notes" data-id="{{this.id}}">
                            <div id="{{this.id}}" class="note-form">
                                <p>{{this.title}}</p>
                                <p><strong>Title:</strong></p>
                                <input type="text" id="{{this.id}}title"  class="titleinput" name="body" />
                                <p><strong>Body:</strong></p>
                                <input type="text" id="{{this.id}}body" class="bodyinput" name="body" />
                            
                                <button type="submit" data-id="{{this.id}}" id="{{this.id}}save savenote" class="savenote waves-effect waves-light blue-grey darken-2 btn">Save Comment</button>
                                <button data-id="{{this.id}}" class='waves-effect waves-light blue-grey darken-2 btn delNote'>Delete</button>
                            </div>
                            

                        </form>
                    </div>
                </div>

            </div>
        </div>

        {{/each}}

        <div class="col s12 m6 l4">

        </div>
    </div>
</div>
